html {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-weight: 100rem;
}

body {
  color: #4d4f62;
  background-color: #f2f2f2;
  font-family: Poppins, "Courier New", Courier, monospace;
  
}

header,
main {
  width: 33.5rem;
  margin: auto;
}

header {
  margin-bottom: 9rem;
  margin-top: 10rem;

}

header p{
  margin: 1.5rem 0 rem 0 rem;
}

header h1,
header h2,
header p {
  text-align: center;
}

/* Coloring*/
header p, main p{
  color:rgb(179, 179, 179);
}

h1{
  color:#4d4f62;
}

/* Coloring */


/* SIZEING */
h3{
  font-size: 2.1rem;
}

h1, header h2{
  font-size: 2.4rem;
}

header p{
font-size: 1.6rem;
}

main p{
  font-size: 1.3rem;
  }
/* SIZEING */

/* WEIGHTING*/
h2, h3{
  font-weight: 6rem;
}

header p, main p{
font-weight: 4rem;
}

h1{
  font-weight: 2rem;
  }
/* WEIGHTING */

.card {
  border-radius: 0.7rem;
  background-color: #ffffff;
  margin-bottom: 3rem;
  padding: 2.5rem;
  box-shadow: 0.3rem 0.8rempx 1.9rem #7c7c7c;
}

.card .img-container {
  display: flex;
  justify-content: flex-end;
}

.card h3,
.card p {
  margin-bottom: 1rem;
}

.supervisor {
  border-top: solid 0.4rem #45d3d3;
}

.team-builder {
  border-top: solid 0.4rem #ea5353;
}

.karma {
  border-top: solid 0.4rem #fcaf4a;
}

.calculator {
  border-top: solid 0.4rem #5484f2;
}




@media screen and (min-width: 900px) {
  header{
    width: 55rem;
    margin-bottom: 6.5rem;
  }
  main{
    width: auto;
  }
  header h1, header h2{
    font-size: 2.8rem;
  }

  .diamond, .diamond-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 3rem;
  }

  .diamond-inner{
    flex-direction: column;
  }

  .diamond{
    width:auto;
    margin:auto;
  }

.card{
  width: 27.7rem;
  height: 18rem;
}

.img-container{
  margin-top: 4rem;
}

}
